/* General rules for the web-page start */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4; /* https://developer.mozilla.org/en-US/docs/Web/CSS/line-height shows 1.15 unit as "normal". Traversy Media in his videos uses 1.6. I prefer 1.4. */
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --border: rgb(51, 63, 99);
    --bg-color: linear-gradient(to right, rgb(255, 255, 0), rgb(130, 200, 238), rgb(38, 38, 222));
}

img {
    max-width: 100%;
}

/* General rules for the web-page end */ 

/* The layout of the web-page start */

.main-container {
    display: grid;
    margin: 1.5rem;
    background-color: rgb(240, 248, 255);
    border: 5px solid var(--border);
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
        "header header header header header"
        "personal-info personal-info work-experience work-experience web-projects"
        "education education skills skills ."
        "footer footer footer footer footer";
}

header {
    grid-area: header;
    min-height: 21.5rem;
}

.personal-info {
    grid-area: personal-info;
}

.work-experience {
    grid-area: work-experience;
}

.education {
    grid-area: education;
}

.web-projects {
    grid-area: web-projects;
}

.skills {
    grid-area: skills;
}

footer {
    grid-area: footer;
}

/* The layout of the web-page end */

/* Header's elements start */

.main-pic-container {
    float: right;
    width: 12.5rem;
    position: relative;
    top: 2.5rem;
    right: 5rem;
}

.main-pic-container img {
    box-shadow: 10px 5px 5px rgb(38, 38, 222);
}

header h1 {
    font-size: 2.5rem;
    position: relative;
    top: 7rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    word-spacing: 0.3rem;
    color: rgb(55, 47, 48);
    /* -webkit-text-stroke: 0.1rem rgb(194, 233, 51); */
}

/* Header's elements end */

/* Article's rules start */

article {
    margin: 1rem;
    padding: 1.5rem;
    border-bottom: 0.2rem solid var(--border);
}

article .section-headers {
    padding: 0.5rem;
    background-image: var(--bg-color);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

ul.article-list {
    list-style: none;
    list-style-position: inside;
    padding: 1rem;
    font-size: 1.5rem;
}

li.value-details {
    font-weight: bold;
    font-family: 'Lucida Sans', Arial, sans-serif;
}

.key-details {
    font-weight: initial;
    font-family: 'Times New Roman', Times, serif;
}

li.resposibilities {
    list-style: none;
    padding-left: 1.5rem;
}

li.resposibilities::before { 
    content: "➣ "; 
}

span.keep-together {
    white-space: nowrap;
}

/* Article's rules end */

/* Rules for the Web projects section start */

.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}

.project-box {
    margin: 0.5rem;
    width: 12.5rem;
    background-color: rgb(191, 226, 245);
    border-bottom: 2px solid var(--border);
}

.project-pic-container {
    height: 10rem;
    overflow: hidden;
}

h3.project-heading {
    padding: 1rem;
    text-align: center;
}

.project-box a:hover {
    color: red;
}

/* Rules for the Web projects section end */

/* Selectors for the Footer start */

footer {
    margin-top: 2rem;
    background-image: var(--bg-color);

}

footer p {
    font-size: 1rem;
    padding: 1.5rem;
    text-align: center;
}

/* Selectors for the Footer end */

/* All Media Queries */

@media only screen and (max-width: 1420px) {
    html {
        font-size: 14px;
    }

    .main-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "header header"
            "personal-info work-experience"
            "education skills"
            "web-projects web-projects"
            "footer footer";
    }

    .projects-container {
        flex-direction: row;
        align-items: initial;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 990px) {
    html {
        font-size: 10px;
    }

    .main-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
            "header"
            "personal-info"
            "work-experience"
            "education"
            "skills"
            "web-projects"
            "footer";
    }

    .projects-container {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 600px) {
    header {
        min-height: 13rem;
    }

    .main-pic-container {
        width: 10rem;
        top: 1.5rem;
        right: 2.5rem;
        margin-left: 1.5rem;
    }

    header h1 {
        font-size: 2rem;
        top: 4.5rem;
        letter-spacing: initial;
        word-spacing: initial;
    }
}

@media only screen and (max-width: 420px) {
    .main-pic-container {
        top: 1rem;
        right: 1rem;
    }

    header h1 {
        margin: 0.8rem;
        font-size: 1.5rem;
    }

    .main-pic-container img {
        box-shadow: none;
    }
}

/* Finished! Hooray! :) */
