/* General rules for the web-page start */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.4; /* https://developer.mozilla.org/en-US/docs/Web/CSS/line-height shows 1.15 unit as "normal". Traversy Media in his videos uses 1.6. I prefer 1.4. */
}

:root {
    --border: rgb(51, 63, 99);
    --bg-color: linear-gradient(to right, rgb(255, 255, 0), rgb(130, 200, 238), rgb(38, 38, 222));
}

body {
    font-family: 'Times New Roman', Times, serif;
}

/* General rules for the web-page end */ 

/* The layout of the web-page start */

.main-container {
    display: grid;
    margin: 1.5rem;
    background-color: rgb(240, 248, 255);
    border: 5px solid var(--border);
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 
        "header header header header header"
        "personal-info personal-info work-experience work-experience web-projects"
        "education education skills skills ."
        "footer footer footer footer footer";
}

.header {
    grid-area: header;
    border: 1px solid black;
    display: flex;
    justify-content: space-evenly;
}

.personal-info {
    grid-area: personal-info;
}

.work-experience {
    grid-area: work-experience;
}

.education {
    grid-area: education;
}

.web-projects {
    grid-area: web-projects;
}

.skills {
    grid-area: skills;
}

footer {
    grid-area: footer;
}

/* The layout of the web-page end */

/* Header's elements start */

.header__title {
    align-self: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    word-spacing: 0.3rem;
    color: rgb(55, 47, 48);
}

.header__photo {
    margin: 2rem 0;
    width: 12rem;
    box-shadow: 10px 5px 5px rgb(38, 38, 222);
}

/* Header's elements end */

/* Article's rules start */

.article {
    margin: 1rem;
    padding: 1.5rem;
    border-bottom: 0.2rem solid var(--border);
}

.article__header {
    padding: 0.5rem;
    background-image: var(--bg-color);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
}

.article__information-list {
    list-style: none;
    list-style-position: inside;
    padding: 1rem;
    font-size: 1.5rem;
}

.information-list__list-item {
    font-weight: bold;
    font-family: 'Lucida Sans', Arial, sans-serif;
}

.list-item__sub-list-item {
    list-style: none;
    padding: 0 0 0 1.5rem;
}

.list-item__sub-list-item::before { 
    content: "➣ "; 
}

.list-item--binded-words {
    white-space: nowrap;
}

/* Article's rules end */

/* Rules for the Web projects section start */

.article__projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0 0 0;
}

.projects-container__one-project-container {
    margin: 0.5rem;
    width: 12.5rem;
    background-color: rgb(191, 226, 245);
    border-bottom: 2px solid var(--border);
}

.projects-container__one-project-container div { /* The only place where I used more specific css selector. I didn't think that this div deserved a class name */
    height: 10rem;
    overflow: hidden;
}

.one-project-container__project-picture {
    max-width: 100%;
}

.one-project-container__project-header {
    padding: 1rem;
    text-align: center;
}

.projects-container__one-project-container a:hover {
    color: red;
}

/* Rules for the Web projects section end */

/* Selectors for the Footer start */

.footer {
    margin: 2rem 0 0 0;
    background-image: var(--bg-color);

}

.footer__description {
    font-size: 1rem;
    padding: 1.5rem;
    text-align: center;
}

/* Selectors for the Footer end */

/* All Media Queries */

@media only screen and (max-width: 1420px) {

    html {
        font-size: 14px;
    }

    .main-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "header header"
            "personal-info work-experience"
            "education skills"
            "web-projects web-projects"
            "footer footer";
    }

    .article__projects-container {
        flex-direction: row;
        align-items: initial;
        justify-content: space-around;
    }
}

@media only screen and (max-width: 990px) {
    
    html {
        font-size: 10px;
    }

    .main-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: 
            "header"
            "personal-info"
            "work-experience"
            "education"
            "skills"
            "web-projects"
            "footer";
    }

    .article__projects-container {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 600px) {

    .header__title {
        margin: 0 1rem;
        font-size: 2rem;
        letter-spacing: initial;
        word-spacing: initial;
    }

    .header__photo {
        width: 10rem;
        margin: 1rem 1rem 1rem 0;
        box-shadow: initial;
    }
}

/* Finished! Hooray! :) */
